<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="top_banner">
        <img th:src="@{/images/top_banner.jpg}" alt="">
    </div>
    <div class="navitem">
        <ul class="nav">
            <li class="nav-active"><a href="/user/doctor">自我信息修改</a></li>
            <li><a href="/doctor/patientData">病人信息</a></li>
            <li><a href="/doctor/quiry">问诊</a></li>
        </ul>
    </div>
</header>
</body>
</html>