<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>jqGrid 实例</title>
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/jquery.jqGrid.src.js}"></script>
</head>
<body>
···代码省略···
<table id="list2"></table>
<div id="pager2"></div>
···代码省略···
<script>
    $(function(){
        pageInit();
    });
    function pageInit(){
        jQuery("#list2").jqGrid(
            {
                url : '/page',
                datatype : "json",
                colNames : [ 'Inv No', 'Date', 'Client', 'Amount', 'Tax','Total', 'Notes' ],
                colModel : [
                    {name : 'id',index : 'id',width : 55},
                    {name : 'invdate',index : 'invdate',width : 90},
                    {name : 'name',index : 'name asc, invdate',width : 100},
                    {name : 'amount',index : 'amount',width : 80,align : "right"},
                    {name : 'tax',index : 'tax',width : 80,align : "right"},
                    {name : 'total',index : 'total',width : 80,align : "right"},
                    {name : 'note',index : 'note',width : 150,sortable : false}
                ],
                rowNum : 10,
                rowList : [ 10, 20, 30 ],
                pager : '#pager2',
                sortname : 'id',
                mtype : "post",
                viewrecords : true,
                sortorder : "desc",
                caption : "JSON 实例"
            });
        jQuery("#list2").jqGrid('navGrid', '#pager2', {edit : false,add : false,del : false});
    }
</script>
</body>
</html>
